body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #CAF4FF;
}

.fs-4 {
    padding-inline: 10px;
}

.d-flex {
    margin-block: 10px;
}

.ms-3 {
    
}