body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #CAF4FF;
}

.pricing-container {
    display: flex;
    gap: 1rem;
    height: 100vh;       
    justify-content: space-evenly;
    align-items: center;
}

.pricing-plan {
    flex: 1;
    background-color: #A3D8FF;
    border-radius: 20px;
    max-width: 300px;
    min-width: 310px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 9px 6px rgb(107, 105, 105);
}

.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.plan-price {
    font-size: 80px;
    font-stretch: semi-expanded;
    font-weight: bolder;
    margin-bottom: 30px;
}

.price-detail{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.plan-features {
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.plan-features li {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 40px;
}

.plan-button {
    padding: 10px;
    width: 100%;
    background-color: #5AB2FF;
    color: #fffcfc;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.pricing-plan:hover {
    background-color: #A0DEFF;
    
}

@media (min-width: 320px) and (max-width: 1286px) {
    .pricing-container {
      flex-direction: column;
    }
    .pricing-plan {
        max-width: 320px;
        min-width: 500px;
        height: 1000px;
        margin-block: 50px;
    }
    .plan-title {
        font-size: 32px;
    }
    .plan-price {
        font-size: 80px;
    }
    
    .price-detail{
        font-size: 28px;
    }
    
    .plan-features {
        font-size: 24px;
    }
    
    .plan-features li {
        margin-bottom: 10px;
        text-align: left;
        padding-left: 100px;
    }
    
    .plan-button {
        font-size: large;
        padding: 10px;
        width: 40%;
        background-color: #5AB2FF;
        color: #fffcfc;
        border-radius: 50px;
    }
}